workflows/jarvis/3NJNzga0YmqYcar1.json
{
  "active": false,
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get Events": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create Event": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create Event with Attendee": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update Event": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete Event": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-06-17T17:05:12.925Z",
  "id": "3NJNzga0YmqYcar1",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Calendar Jarvis",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "query"
            },
            {
              "name": "email"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "19a611cc-f453-4bbd-b697-b983db124184",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }} email - {{ $json.email }}",
        "options": {
          "systemMessage": "=Привет, ты мой календарный ассистент.\n\nЯ буду направлять тебе задачи, с которыми тебе необходимо будет справиться! Для их выполнения используй инструменты (tools), которые я предоставлю тебе ниже:\n\nGet Events (getAll: event)\n\nИспользуй этот инструмент, когда я прошу тебя показать список событий в моём календаре.\n\nCreate Event (create: event)\n\nИспользуй этот инструмент, когда я прошу тебя создать новое событие, используй только, когда я не прошу создать встречу с кем то (каким либо участником)\n\nCreate Event with Attendee (create: event)\n\nИспользуй этот инструмент, когда я прошу тебя создать новое событие с участником (или несколькими участниками).\n\nUpdate Event (update: event)\n\nИспользуй этот инструмент, когда я прошу тебя обновить существующее событие. Перед этим, сначала найди событие по запросу в Get Events и получи его id \n\nDelete Event (delete: event)\n\nИспользуй этот инструмент, когда я прошу тебя удалить событие.\nПеред этим, сначала найди событие по запросу в Get Events и получи его id \n\nВ конце ответа прикрепляй ссылку на данный ивент и его id\n\nдоп инфа сегодня -{{ $now }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        220,
        0
      ],
      "id": "25c8a717-d5bc-43a6-b203-17ec6a30baa6",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "meta-llama/llama-4-maverick:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -140,
        260
      ],
      "id": "cd9742bf-5991-41bd-8298-8e5113429c9e",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "2ZzAGALJlImzhNdJ",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "vadgnatenko1@gmail.com",
          "mode": "list",
          "cachedResultName": "vadgnatenko1@gmail.com"
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', `Для определения времени используй часовой пояс GTM+3 Moscow.`, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        480,
        280
      ],
      "id": "caa8ff84-f927-4c7c-82f5-2ff867fb686f",
      "name": "Get Events",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "AKVnZp1NTZClY9sI",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "vadgnatenko1@gmail.com",
          "mode": "list",
          "cachedResultName": "vadgnatenko1@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', `Для определения времени используй часовой пояс GTM+3 Moscow.`, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "useDefaultReminders": false,
        "additionalFields": {
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        620,
        280
      ],
      "id": "b44bb434-9cc3-4272-95c0-65aa892be6a1",
      "name": "Create Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "AKVnZp1NTZClY9sI",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "vadgnatenko1@gmail.com",
          "mode": "list",
          "cachedResultName": "vadgnatenko1@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', `Для определения времени используй часовой пояс GTM+3 Moscow.`, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "attendees": [
            "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('attendees0_Attendees', ``, 'string') }}"
          ],
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}",
          "guestsCanInviteOthers": true,
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        320,
        280
      ],
      "id": "5f04ed71-778c-4d79-be71-c3c0bde083f8",
      "name": "Create Event with Attendee",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "AKVnZp1NTZClY9sI",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "vadgnatenko1@gmail.com",
          "mode": "list",
          "cachedResultName": "vadgnatenko1@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "updateFields": {
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        780,
        280
      ],
      "id": "782a04dc-6868-4568-9e54-6ce922bd92fb",
      "name": "Update Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "AKVnZp1NTZClY9sI",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "vadgnatenko1@gmail.com",
          "mode": "list",
          "cachedResultName": "vadgnatenko1@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {
          "sendUpdates": "all"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        920,
        280
      ],
      "id": "d3f241fe-15c9-479d-92fe-a5c84d90ae4a",
      "name": "Delete Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "AKVnZp1NTZClY9sI",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        100,
        280
      ],
      "id": "c47138de-0b76-475f-9c77-d5d69ed8f07b",
      "name": "Simple Memory",
      "disabled": true
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-06-15T17:08:17.891Z",
      "updatedAt": "2025-06-15T17:08:25.156Z",
      "id": "jlLwwDw8ZzueefnL",
      "name": "jarvis"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-06-17T18:33:29.000Z",
  "versionId": "205f5c10-2bda-4373-80e1-811b08e0e933"
}