workflows/NPKotLSAG7FrzfOA.json
{
  "active": false,
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model1": {
      "ai_languageModel": [
        []
      ]
    },
    "Google Sheets1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Set Query as Text": {
      "main": [
        []
      ]
    }
  },
  "createdAt": "2025-05-18T17:57:27.792Z",
  "id": "NPKotLSAG7FrzfOA",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Contacts Jarvis",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "query"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -180,
        -40
      ],
      "id": "2c295595-5b1b-43a0-a3df-a4e68273cd76",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Ты ассистент для получения информации по контакту. \nИспользуй tool Google Sheets, чтобы получить доступ к контактам.  \nНаходи информацию только по тому контакту, которому тебя просят. "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        360,
        -120
      ],
      "id": "78057ac3-f57b-468c-94d4-6f61ccec56c4",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -160,
        220
      ],
      "id": "7a88503c-6062-47c6-a1b1-151a20a6bc4c",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "u1XfmTlREy7vnmch",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1nHqOi22ADyFTvX1htbi0rZQpD6URMTRJrQlm3MmGGus",
          "mode": "list",
          "cachedResultName": "BD Contacts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nHqOi22ADyFTvX1htbi0rZQpD6URMTRJrQlm3MmGGus/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Лист1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nHqOi22ADyFTvX1htbi0rZQpD6URMTRJrQlm3MmGGus/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        200,
        180
      ],
      "id": "a9807ff1-c555-4394-8e29-beb73a6a9a50",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xJoXBmTG6gax3TOd",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Ты ассистент для получения информации по контакту. \nИспользуй tool Google Sheets, чтобы получить доступ к контактам.  \nНаходи информацию только по тому контакту, которому тебя просят. \n\nЕсли информации по контакту нет, ответь, что информация отсутствует. \n\nОтвечай всегда на русском.  "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        940,
        220
      ],
      "id": "8965bb70-8b52-498b-8e2f-dfd47173302f",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": "lucasmg/deepseek-r1-8b-0528-qwen3-q4_K_M-tool-true:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        660,
        480
      ],
      "id": "917a8e43-cd7f-440a-9a6b-62c213883535",
      "name": "Ollama Chat Model1",
      "notesInFlow": false,
      "credentials": {
        "ollamaApi": {
          "id": "u1XfmTlREy7vnmch",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1nHqOi22ADyFTvX1htbi0rZQpD6URMTRJrQlm3MmGGus",
          "mode": "list",
          "cachedResultName": "BD Contacts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nHqOi22ADyFTvX1htbi0rZQpD6URMTRJrQlm3MmGGus/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Лист1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nHqOi22ADyFTvX1htbi0rZQpD6URMTRJrQlm3MmGGus/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        1180,
        520
      ],
      "id": "7f7c99e6-9b1d-4c87-99d2-e15411190563",
      "name": "Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xJoXBmTG6gax3TOd",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "model": "meta-llama/llama-4-maverick:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        840,
        480
      ],
      "id": "e85daf33-4458-4b9d-9e56-83b2a4215417",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "2ZzAGALJlImzhNdJ",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "text",
              "value": "={{ $json.query }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        500,
        380
      ],
      "id": "6c7ceaf4-3ca0-4525-a6be-9156dba1e5dd",
      "name": "Set Query as Text"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-06-15T15:56:12.000Z",
  "versionId": "dabda95f-4079-4b6a-a07f-32d6c1763ab6"
}